<!-- Partial template that iterates through all passed in line items and displays them-->
<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>	


	<td><%= line_item.quantity %>&times;</td>
	<td><%= line_item.product.title %></td>
	<td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
</tr>
<tr>
	<td align=left colspan="3">
		
		
		<%= button_to 'remove item',line_item, :method => :delete %>
		
			
			
	</td>
	
</tr>
